<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TerraQuest - Tapas Directory</title>
    </head>
    <body lang="en">
        <div id="root" class="container"></div>
    </body>
</html>